@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="row">
        <div class="col-lg-9 col-lg-offset-1">
            <h2>Admin Home</h2>
        </div>
 </div>

@using (Html.BeginForm("Validate","Admin",FormMethod.Post))
{ 
    <div class="row">
        <div class="col-lg-9 col-lg-offset-8">
               <p>
                   Enter Username: 
               </p>
           
               @Html.TextBox("user")
            <br />
                <p>
                    <br />
                   Enter Password:
                </p>
               @Html.Password("password");
            <br />
            <br />
            <div>
            <input type="submit" value="Login" id="b1" class="btn btn-submit" />
                <button class="btn btn-default"><a href="~/Admin/Signup">Signup</a></button>
            </div>
        </div>
    </div>
}
