@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(f1);
    function f1()
    {
        $('#r1').css("background-color", "rgb(200,200,230)");
    }
</script>
<br />
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <h3>Research</h3>
        <hr />
    </div>
    
</div>
