@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
<script>
    $(document).ready(f1);
    function f1()
    {
        $('#t1').css("background-color", "rgb(200,200,230)");
    }
</script>
<br />
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <h3>Teachings</h3>
        <hr />
    </div>
</div>
<div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <a class="h3" href="http://faculty.pucit.edu.pk/nazarkhan/teaching/Spring2014/MA250/MA250.html">Prbability And Statistics</a>
            <br />
            <br />
            <a class="h3" href="http://faculty.pucit.edu.pk/nazarkhan/teaching/Spring2014/MA250/MA250.html">Computer Vision</a>
            <br />
            <br />
            <a class="h3" href="http://faculty.pucit.edu.pk/nazarkhan/teaching/Spring2014/MA250/MA250.html">Machine Learning</a>
            <br />
            <br />
</div>
</div>