@{
    Layout="~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Panel</h2>
<script>
    $(document).ready(function ()
    {
        $('#pe1').attr("href", "/AdminPeople/APeople");
        $('#pro1').attr("href", "/AdminProject/AProject");
    });
    
</script>
