@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
<br />
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <h3>Description</h3>
        <hr />
        <div class="col-lg-6" >
        <p>
            In computer vision, we aspire to build intelligent visual algorithms that perform important visual perception tasks such as object recognition, scene categorization, integrative scene understanding, human motion recognition, material recognition, etc.
        </p>
        </div>
    </div>
    
</div>
<br />
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
    <h2>News Feed</h2>
        <hr />
    </div>
</div>
